@import "../variables.scss";

a.cta {
  font-weight: 600;
  margin: 15px 0 0;
  padding: 7.5px 15px;
  background: lightyellow;
  display: inline-block;
  border: 1px solid lightyellow;
  &:hover {
    background: yellow;
    border-color: black;
    text-decoration: none;
  }
}


.logo {
  a {
    font-weight: 600;
    font-size: 1.25rem;
    text-decoration: none;
  }
}

header {
  .logo {
    padding: 20px;
  }
  .overlay {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: .2s ease-in-out .2s;
    z-index: 1000;
  }
  .overlay[active]{
    opacity: 0.9;
  }
}

nav.navigation {
  background: #555;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  z-index: 1001;
  transform: translateX(100%);
  transition: .2s ease-in-out .2s;
  .menu-icon {
    position: absolute;
    padding: 15px;
    right: 100%;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      text-align: center;
      width: 100%;
      a {
        display: block;
        padding: 15px 10px;
        text-decoration: none;
      }
    }
  }
  .cta-row {
    border-bottom: 1px solid rgb(104, 102, 102);
    padding: 0 0 20px;
    li {
      a {
        font-weight: 600;
        margin: 15px 0 0;
        padding: 7.5px 15px;
        background: lightyellow;
        display: inline-block;
        border: 1px solid lightyellow;
        &:hover {
          background: yellow;
          border-color: black;
          text-decoration: none;
        }
      }
      a.alt {
        background-color: lightyellow;
      }
    }
  }
  .nav-logo {
    border-bottom: 1px solid rgb(104, 102, 102);
    padding: 20px;
    text-align: center;
    img {
      width: 175px;
      height: auto;
    }
  }
  .social {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
nav.navigation[active]{
  transform: translateX(0);
}

@media all and (min-width: 800px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
    }
    .overlay {
      display: none;
    }
    .overlay[active]{
      display: none;
    }
    nav.navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;

      background: initial;
      position: initial;
      top: initial;
      right: initial;
      bottom: initial;
      width: initial;
      z-index: initial;
      transform: initial;
      transition: initial;
      .menu-icon {
        display: none;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          list-style: none;

          text-align: initial;
          width: initial;
          a {
            display: initial;
            padding: initial;
            text-decoration: initial;
          }
        }
      }
      .cta-row {
        border-bottom: initial;
        padding-bottom: 0;
        li {
          a {
            font-weight: 600;
            margin: initial;
            padding: initial;
            background:initial;
            display: inherit;
            border: initial;

            font-weight: 600;
            padding: 7.5px 15px;
            background: lightyellow;
            border: 1px solid lightyellow;

            &:hover {
              background: initial;
              border-color: initial;
              text-decoration: initial;
            }
          }
          a.alt {
            background-color: initial;
          }
        }
      }
      .links {
        ul {
          li {
            padding: 0 20px;
            a {
            }
            &:hover {
            }
          }
        }
      }
      .nav-logo {
        display: none;
      }
    }
    nav.navigation[active]{
      transform: translateX(0);
    }
  }
}