@import "../variables.scss";

nav {
  background: #222;
  padding: 5px 20px;
  ul.menu {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    li {
      list-style: none;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .item {
      display: none;
      order: 3;
      padding: 15px;
      text-align: center;
      width: 100%;
    }
    .item.active, [active] {
      display: block;
    }
    .logo {
      letter-spacing: 3px;
      font-size: 1.25rem;
      font-weight: 600;
     a {
      color: rgb(9, 221, 221);
       &:hover {
        text-decoration: none;
       }
       span {
         color: #fff;
       }
     }
    }
    .menu li {
      padding: 15px 5px;
      white-space: nowrap;
    }
    .item.button {
      order: 2;
      a {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
        border-radius: 50em;
        font-weight: 600;
        &:hover {
          background: #006d6d;
          border-color: #005959;
          text-decoration: none;
        }
      }
    }
    .button.secondary {
      border-bottom: 1px #444 solid;
      padding-bottom: 25px;
      a {
        background: transparent;
        &:hover {
          background: inherit;
        }
      }
    }
    .toggle {
      order: 1;
      cursor:pointer;
      .bars {
        background: white;
        display: inline-block;
        height: 2px;
        position: relative;
        // transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        width: 18px;
      }
      .bars:before,
      .bars:after {
        background: inherit;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
      }
      .bars::before {
        top: 5px;
      }
      .bars::after {
        top: -5px;
      }
    }
    /* active toggle */
    .active .bars,
    [active] .bars {
      transform: rotate(45deg);
    }
    .active .bars::before,
    [active] .bars::before {
      transform: translateY(-5px) translateX(0px) rotate(90deg)
    }
    .active .bars::after,
    [active] .bars::after {
      display: none
    }
  }
}

/* Tablet menu */
@media all and (min-width: 600px ) {
  ul.menu {
    justify-content: center;
    .logo {
      flex: 1;
    }
    .toggle {
      flex: 1;
      order: 2;
      text-align: right;
    }
    .item.button {
      width: auto;
      order: 1 !important;
      display: block;
    }
    // .item.button a {
    //   padding: 7.5px 15px;
    //   background: teal;
    //   border: 1px #006d6d solid;
    //   border-radius: 50em;
    //   &:hover {
    //     background: #006d6d;
    //     border-color: #005959;
    //     text-decoration: none;
    //   }
    // }
    .item.button.secondary {
      border: 0;
      padding: 0 !important;
    }
  }
}

/* Desktop menu */
@media all and (min-width: 900px) {
  .item {
      display: block !important;
      width: auto !important;
  }
  .toggle {
      display: none !important;
  }
  .logo {
      order: 0;
  }
  .item {
      order: 1 !important;
  }
  .button {
      order: 2;
  }

  .menu li {
      padding: 15px 10px;
  }
  .menu li.button {
      padding-right: 0;
  }
}